# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# named binaries
dispatch
pi
ui
dr_maint
fl_maint
vh_maint
async
up_maint
zn_maint
mf_maint
geo_maint
da_report
da_purge
# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
core
core.*
*#
